
APP_NAME="Smart Travel Planner API"
ENVIRONMENT="development"
OPENAI_API_KEY="your_openai_api_key_here"
OPENAI_EMBEDDING_MODEL="text-embedding-3-small"
OPENAI_CHAT_MODEL="gpt-4o-mini"


JWT_SECRET_KEY="change_this_in_real_projects"
WEBHOOK_URL=""

LANGSMITH_TRACING=true
LANGSMITH_API_KEY="your_langsmith_key_here"
LANGSMITH_PROJECT="smart-travel-planner"